accelerate
aiohappyeyeballs
aiohttp
aiosignal
amqp
google-generativeai
langchain
langchain-google-genai
langchain-community
langchain-core
langchain-text-splitters
langgraph
annotated-types
asgiref
attrs
billiard
blis
catalogue
celery
celery-types
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cloudpathlib
confection
coreapi
coreschema
cryptography
cymem
datasets
dill
Django
django-cors-headers
django-filter
django-oauth-toolkit
django-perms
django-redis
djangorestframework
dotenv
drf-spectacular
drf-yasg
filelock
frozenlist
fsspec
hf-xet
hiredis
huggingface-hub
idna
inflection
itypes
Jinja2
joblib
jsonschema
jsonschema-specifications
jwcrypto
kombu
langcodes
language_data
marisa-trie
markdown-it-py
MarkupSafe
mdurl
mpmath
multidict
multiprocess
murmurhash
networkx
numpy
oauthlib
packaging
pandas
pillow
preshed
prompt_toolkit
propcache
psutil
psycopg2-binary
pyarrow
pycparser
pydantic
pydantic_core
Pygments
PyMuPDF
pymupdf4llm
python-dateutil
python-decouple
python-dotenv
pytz
PyYAML
redis
referencing
regex
requests
rich
rpds-py
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
shellingham
six
smart_open
spacy
spacy-legacy
spacy-llm
spacy-loggers
sqlparse
srsly
sympy
thinc
threadpoolctl
tokenizers
torch
tqdm
transformers
typer
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
vine
wasabi
wcwidth
weasel
wrapt
xlsxwriter
xxhash
yarl
